* {
	margin: 0;
	padding: 0;
	outline: 0;
}

html, body {
	height: 100%;
}

.container {
	background: #C2E8F9;
	min-height: 100%;
	width: 70%;
	margin: 0 auto 0 auto;
	position: relative;
}

header {
	position: fixed;
	height: 50px;
	margin-bottom: 50px;
	z-index: 2;
}

.logo {
	float: left;
	margin-left: 40px;
}

.logo img {
	width: 40px;
	height: 40px;
}

.menu {
	height: 40px;
	list-style: none;
	display: flex;
	background: #88B0F9;
}

.menu li {
	position: relative;
}

.menu li a {
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	color: black;
}

.menu li:hover .submenu {
	display: block;
}

.menu li:hover {
	background: #F2F890;
} 

.submenu {
	display: none;
	list-style: none;
	position: absolute;
	width: 100%;
	height: 180px;
	background: #88B0F9;
}


main {
	padding: 60px 10px;
}

.items {
	background:#b8e2e4;;
	padding: 1%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.item {
	background:#05B7B1;
	display: block;
	position: relative;
	padding: 20px;
	width: 20%;
	margin: 1%;
	-ms-border-radius: 12px;  
	-webkit-border-radius: 12px;  
	-moz-border-radius: 12px;  
	border-radius: 12px;  
}

.item a {
	text-decoration: none;
	color: black;
	margin: 10px auto;
	padding: 0px 20px;
	display: block;
	background: #88B0F9;
	-ms-border-radius: 8px;  
	-webkit-border-radius: 8px;  
	-moz-border-radius: 8px;  
	border-radius: 8px;
}

.item a:hover {
	background: #F2F890;
}

footer {
	position: absolute;
	background: #88B0F9;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
}

footer p {
	margin: 15px;
}